<span class="flex w-full justify-around text-4xl my-2">O Guarda Roupa de Dona Maria</span>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-description class="font-normal text-xl text-blue-600 mx-auto w-full justify-around">
      Início da História
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="text-xl">
    Dona Maria é uma mulher muito sistemática, que acabou de chegar de viagem com roupas novas e quer que elas sejam guardadas na primeira gaveta, que já está cheia de roupas. Porém, ela está cansada e quer fazer a menor quantidade de movimentos possíveis para mover as roupas guardadas para outra gaveta. Para fazer isso ela resolveu seguir as seguintes regras:<br><br>
      
      <span class="font-semibold">&emsp;1.</span> 
      ela sempre irá mover apenas uma roupa de cada vez, tirando sempre a roupa do topo da pilha, para pegar menos peso;<br>
      <span class="font-semibold">&emsp;2.</span> 
      ela nunca irá colocar uma roupa menor em cima de uma roupa maior em outra gaveta, para que a roupa menor não seja tampada e ela consiga ver quantas roupas faltam na gaveta.
    <br><br>
  
    Ajude a dona Maria a organizar suas roupas. 
    <br>
  </div>
</mat-expansion-panel>

<div class="text-justify m-4 text-xl">
  <div class="flex flex-row gap-4 items-center"> 
    Escolha quantas roupas dona Maria tinha na primeira gaveta: 
    <div class="flex flex-row rounded-lg border-2 border-black w-20 h-10 px-2">
      <mat-select [(ngModel)]="numeroDeRoupas" (selectionChange)="stopLoop(); atualizaRoupas($event.value)" class="my-auto">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </div>
  </div> 
  <br>

  Número de movimentos que dona Maria ainda consegue fazer: {{movimentosRestantes}}
</div>
<div class="flex flex-row justify-center gap-8">
  <img [src]="getCharacter()" alt="character" class="">
  <div class="flex flex-row">
      <app-gaveta 
      [roupas]="gavetas[0]"
      [draggable]="draggable"
      (dragstart)="onDragStart(1)" 
      (drop)="onDrop($event, 1)" 
      (dragover)="onDragOver($event)"
      >
      </app-gaveta>
  
      <app-gaveta 
      [roupas]="gavetas[1]"
      [draggable]="draggable"
      (dragstart)="onDragStart(2)" 
      (drop)="onDrop($event, 2)" 
      (dragover)="onDragOver($event)"
      >
      </app-gaveta>
  
      <app-gaveta 
      [roupas]="gavetas[2]"
      [draggable]="draggable"
      (dragstart)="onDragStart(3)" 
      (drop)="onDrop($event, 3)" 
      (dragover)="onDragOver($event)"
      >
      </app-gaveta>
  </div>
</div>
<div class="flex flex-col justify-center gap-8 mt-8 pb-8 text-xl">
  <div *ngIf="result=='happy'" class="text-2xl text-green-600 text-center">
    Parabéns, você conseguiu ajudar a dona Maria a arrumar o guarda roupa dela.
  </div>
  <div *ngIf="result=='tired'" class="text-2xl text-red-500 text-center">
    Infelizmente a dona Maria está cansada demais para continuar arrumando o guarda roupa, tente novamante.
  </div>
  <div class="flex flex-row justify-center gap-4">
    <button class="flex max-w-min bg-red-500 text-white rounded-2xl py-1 px-2 border-2 border-white"
    (click)="stopLoop(); start()"
    >Reiniciar</button>
    <button class="flex bg-blue-500 text-white rounded-2xl py-1 px-2 border-2 border-white"
    (click)="stopLoop(); start(); resolucao()"
    >Mostrar Resolução</button>
  </div>
</div>